.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

@media (max-width: 768px) {
    .pagination {
        margin: 30px;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 15px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #5d70a5;
    color: white;
}

.pagination button:hover {
    background-color: #9da9cc;
    color: white;
}

.pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
